# Write a program using zip() function and list() function, create a merged list of tuples from the two lists given

In [1]:
def Tuples(l1, l2):
    return list(map(lambda x, y:(x,y), l1, l2))
list1 = [65, 35, 45]
list2 = ["Priya", "Thana", "Raji"]
print(Tuples(list1, list2))

[(65, 'Priya'), (35, 'Thana'), (45, 'Raji')]

In [3]:
def merge_list(list1, list2):      
    merged_list = list(zip(list1, list2)) 
    return merged_list
list1 = [65, 35, 45]
list2 = ["Priya", "Thana", "Raji"]
print(merge_list(list1, list2))

[(65, 'Priya'), (35, 'Thana'), (45, 'Raji')]

# First create a range from 1 to 8. Then using zip, merge the given list and the range together to create a new list of tuples.

In [4]:
list3=[1,2,3,4,5,6,7,8]
list4=['Mesh','Raji','Thana','Sudha','Priya','Padma','Karthi','Ganesh']
result =tuple(zip(list1,list2))
print(result)

((65, 'Priya'), (35, 'Thana'), (45, 'Raji'))

# Using sorted() function, sort the list in ascending order.

In [5]:
list5=[5334,44655,64344,32522,725328,88325,22352]
print(sorted(list5))

[5334, 22352, 32522, 44655, 64344, 88325, 725328]

# Write a program using filter function, filter the even numbers so that only odd numbers are passed to the new list.

In [6]:
def filter_num(num):
    if num%2 !=0:
        return True
    else :
        return False
numbers =[2323,1321,12344,33434,23422,25214,26546,21237,231528,231534,3355,36325]
result=filter(filter_num,numbers)
for i in result:
    print(i)

2323
1321
21237
3355
36325