# Create an Excel with data of Student database and all the values which is required for Student Management Database. Read the excel file and add the data into DB (using script)

In [1]:
#Reading data from Excel
import pandas as pd
pd.read_excel(r"C:\Users\hp\Documents\Students_Data.xls")

    Roll No         Name Degree   Dept             Email College
0         1  Padma Priya    BE     CSE   priya@gmail.com    ACET
1         2         Raji    BE     ECE    raji@gmail.com    ACET
2         3        Thana    BE    MECH   thana@gmail.com    ACET
3         4         Mesh    BE     EEE    mesh@gmail.com    ACET
4         5         Rosy    BE   CIVIL    rosy@gmail.com    ACET
5         6        Femee    BE     CSE   femee@gmail.com    ACET
6         7        Aysha    BE     ECE    aysh@gmail.com    ACET
7         8        Shalu    BE     EEE   shalu@gmail.com    ACET
8         9        Mothi    BE     CSE   mothi@gmail.com    ACET
9        10         Ashi    BE     CSE    ashi@gmail.com    ACET
10       11        Gevee    BE   CIVIL   gevee@gmail.com    ACET
11       12        Shiya    BE    MECH   shiya@gmail.com    ACET
12       13       Athvik    BE     ECE  athvik@gmail.com    ACET

In [2]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="12345")
mycursor=mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C1071CDD60>

In [3]:
dbse=mydb.cursor()
dbse.execute("SHOW DATABASES")
for entry in dbse:
    print(entry)

('doctors',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('students_management_system',)
('sys',)

In [4]:
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="STUDENTS_MANAGEMENT_SYSTEM")
dbse=mydb.cursor()
dbse.execute("CREATE TABLE STUDENTS_RECORDS(ROLL_NO int,NAME VARCHAR(255),DEGREE VARCHAR(255),DEPARTMENT VARCHAR(255),EMAIL VARCHAR(255),COLLEGE VARCHAR(255))")

In [5]:
import mysql.connector
import xlrd
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="STUDENTS_MANAGEMENT_SYSTEM")
cur=mydb.cursor()
loc=("C:\\Users\\hp\\Documents\\Students_Data.xls")
book=xlrd.open_workbook(loc)
sheet=book.sheet_by_index(0)
sheet.cell_value(0,0)
for i in range(1,14):
    print(sheet.row_values(i))

[1.0, 'Padma Priya', 'BE ', 'CSE', 'priya@gmail.com', 'ACET']
[2.0, 'Raji', 'BE ', 'ECE', 'raji@gmail.com', 'ACET']
[3.0, 'Thana', 'BE ', 'MECH', 'thana@gmail.com', 'ACET']
[4.0, 'Mesh', 'BE ', 'EEE', 'mesh@gmail.com', 'ACET']
[5.0, 'Rosy', 'BE ', 'CIVIL', 'rosy@gmail.com', 'ACET']
[6.0, 'Femee', 'BE ', 'CSE', 'femee@gmail.com', 'ACET']
[7.0, 'Aysha', 'BE ', 'ECE', 'aysh@gmail.com', 'ACET']
[8.0, 'Shalu', 'BE ', 'EEE', 'shalu@gmail.com', 'ACET']
[9.0, 'Mothi', 'BE ', 'CSE', 'mothi@gmail.com', 'ACET']
[10.0, 'Ashi', 'BE ', 'CSE', 'ashi@gmail.com', 'ACET']
[11.0, 'Gevee', 'BE ', 'CIVIL', 'gevee@gmail.com', 'ACET']
[12.0, 'Shiya', 'BE ', 'MECH', 'shiya@gmail.com', 'ACET']
[13.0, 'Athvik', 'BE ', 'ECE', 'athvik@gmail.com', 'ACET']

In [7]:
#Adding data from Excel to MYSql
import mysql.connector
import xlrd
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="STUDENTS_MANAGEMENT_SYSTEM")
cur=mydb.cursor()
loc=("C:\\Users\\hp\\Documents\\Students_Data.xls")
l=list()
book=xlrd.open_workbook(loc)
sheet=book.sheet_by_index(0)
sheet.cell_value(0,0)
for i in range(1,14):
    l.append(tuple(sheet.row_values(i)))
ins="Insert into STUDENTS_RECORDS(ROLL_NO,NAME,DEGREE,DEPARTMENT,EMAIL,COLLEGE)values(%s,%s,%s,%s,%s,%s)"
cur.executemany(ins,l)
mydb.commit()
mydb.close()

In [8]:
#Fetching data from database
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="STUDENTS_MANAGEMENT_SYSTEM")
cursor=mydb.cursor()
cursor.execute("SELECT * FROM STUDENTS_RECORDS")
myresult=cursor.fetchall()
for x in myresult:
    print(x)

(1, 'Padma Priya', 'BE ', 'CSE', 'priya@gmail.com', 'ACET')
(2, 'Raji', 'BE ', 'ECE', 'raji@gmail.com', 'ACET')
(3, 'Thana', 'BE ', 'MECH', 'thana@gmail.com', 'ACET')
(4, 'Mesh', 'BE ', 'EEE', 'mesh@gmail.com', 'ACET')
(5, 'Rosy', 'BE ', 'CIVIL', 'rosy@gmail.com', 'ACET')
(6, 'Femee', 'BE ', 'CSE', 'femee@gmail.com', 'ACET')
(7, 'Aysha', 'BE ', 'ECE', 'aysh@gmail.com', 'ACET')
(8, 'Shalu', 'BE ', 'EEE', 'shalu@gmail.com', 'ACET')
(9, 'Mothi', 'BE ', 'CSE', 'mothi@gmail.com', 'ACET')
(10, 'Ashi', 'BE ', 'CSE', 'ashi@gmail.com', 'ACET')
(11, 'Gevee', 'BE ', 'CIVIL', 'gevee@gmail.com', 'ACET')
(12, 'Shiya', 'BE ', 'MECH', 'shiya@gmail.com', 'ACET')
(13, 'Athvik', 'BE ', 'ECE', 'athvik@gmail.com', 'ACET')

In [12]:
cursor=mydb.cursor()
cursor.execute("SELECT * FROM STUDENTS_RECORDS WHERE DEPARTMENT='CSE'")
myresult=cursor.fetchall()
for x in myresult:
    print(x)

(1, 'Padma Priya', 'BE ', 'CSE', 'priya@gmail.com', 'ACET')
(6, 'Femee', 'BE ', 'CSE', 'femee@gmail.com', 'ACET')
(9, 'Mothi', 'BE ', 'CSE', 'mothi@gmail.com', 'ACET')
(10, 'Ashi', 'BE ', 'CSE', 'ashi@gmail.com', 'ACET')

In [14]:
cursor=mydb.cursor()
cursor.execute("SELECT * FROM STUDENTS_RECORD WHERE ROLL_NO=4")
myresult=cursor.fetchall()
for x in myresult:
    print(x)

(4, 'Mesh', 'BE ', 'EEE', 'mesh@gmail.com', 'ACET')

In [9]:
import openpyxl
wb_obj=openpyxl.load_workbook(r"C:\Users\hp\Documents\Students.xlsx")
sheet_obj=wb_obj.active
cell_obj=sheet_obj.cell(row=2,column=2)
print(cell_obj.value)

Padma Priya

In [10]:
for i in range(1,7):
    cell_obj=sheet_obj.cell(row=6,column=i)
    print(cell_obj.value)

5
Rosy
BE
CIVIL
rosy@gmail.com
ACET

In [11]:
wb_obj=openpyxl.load_workbook(r"C:\Users\hp\Documents\Students.xlsx")
sheet_obj=wb_obj.active
for i in range(2,15):
    cell_obj=sheet_obj.cell(row=i,column=2)
    print(cell_obj.value)

Padma Priya
Raji
Thana
Mesh
Rosy
Femee
Aysha
Shalu
Mothi
Ashi
Gevee
Shiya
Athvik