# Create a JSON of all object types and import the JSON into a SQL Database

In [1]:
import json

In [2]:
json_data=[
    {'name':"Padma",'age':21,'Permanent_staff':True,'salary':75000.00,'dept_desgn':'Software Developer'},
     {'name':"Priya",'age':19,'Permanent_staff':False,'salary':56000.00,'dept_desgn':"Data Analyst"},
     {'name':"Mesh",'age':22,'Permanent_staff':True,'salary':78000.00,'dept_desgn':'Web Developer'},
     {'name':"Ganesh",'age':23,'Permanent_staff':True,'salary':45000.00,'dept_desgn':'Data Scientist'},
     {'name':"Sudha",'age':24,'Permanent_staff':True,'salary':67000.00,'dept_desgn':'Help Desk Analyst'}    
]

In [3]:
res =json.dumps(json_data)

In [4]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",user="root",password="12345")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000183CF004DC0>

In [5]:
dbse = mydb.cursor()
dbse.execute("CREATE DATABASE JSONRECORDS1")

In [6]:
dbse = mydb.cursor()
dbse.execute("SHOW DATABASES")
for entry in dbse:
    print(entry)

('doctors',)
('employee_details',)
('information_schema',)
('jsonrecords1',)
('mydatabase',)
('mysql',)
('performance_schema',)
('students_management_system',)
('sys',)
('website',)
('websites',)

In [7]:
mydb = mysql.connector.connect(host="localhost",user="root",password="12345",database="jsonrecords1")
dbse = mydb.cursor()
dbse.execute("CREATE TABLE employee (name VARCHAR(255),age INT, permanent_staff VARCHAR(255), salary DOUBLE, dept_and_designation VARCHAR(255))")

In [8]:
dbse = mydb.cursor()
dbse.execute("SHOW TABLES")
for value in dbse:
    print(value)

('employee',)

In [9]:
dbse = mydb.cursor()
dbse.execute("SHOW COLUMNS FROM employee")
for value in dbse:
    print(value)

('name', b'varchar(255)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('permanent_staff', b'varchar(255)', 'YES', '', None, '')
('salary', b'double', 'YES', '', None, '')
('dept_and_designation', b'varchar(255)', 'YES', '', None, '')

In [16]:
dbse = mydb.cursor()
sql = "INSERT INTO employee (name ,age, permanent_staff,salary,dept_designation) VALUES (%s)"
value= list(for i in res: res[i])                         
dbse.execute(sql, value)

SyntaxError: invalid syntax (<ipython-input-16-a9aa8d98307f>, line 3)