In [1]:
#Create a DB with doctor and doctor ID & patients visited
import mysql.connector

In [2]:
mydb=mysql.connector.connect(host="localhost",user="root",password="12345")

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AA0CB50370>

In [4]:
dbse=mydb.cursor()
dbse.execute("CREATE DATABASE Doctors")

In [5]:
dbse=mydb.cursor()
dbse.execute("SHOW DATABASES")
for entry in dbse:
    print(entry)

('doctors',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="Doctors")
dbse=mydb.cursor()
dbse.execute("CREATE TABLE Doctors(Doctor_ID VARCHAR(255),Doctor_Name VARCHAR(255),Patients_Visited VARCHAR(255))")

In [7]:
dbse=mydb.cursor()
dbse.execute("SHOW TABLES")
for value in dbse:
    print(value)

('doctors',)

In [8]:
dbse=mydb.cursor()
sql="INSERT INTO Doctors(Doctor_ID,Doctor_Name,Patients_Visited) VALUES(%s,%s,%s)"
val=[('D1','Mesh','2'),('D2','Raji','12'),('D3','Thana','0'),('D4','Sudha','6'),('D5','Priya','9'),('D6','Padma','19'),('D7','Karthi','0'),('D8','Ganesh','4'),('D9','Femee','8'),('D10','Rosy','0'),('D11','Mothi','11'),('D12','Siva','0')]
dbse.executemany(sql,val)
mydb.commit()
print(dbse.rowcount,"Records Inserted")

12 Records Inserted

In [9]:
#Get the doctor(s) who have more than 5 patients visited
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Doctors where Patients_Visited>5")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('D2', 'Raji', '12')
('D4', 'Sudha', '6')
('D5', 'Priya', '9')
('D6', 'Padma', '19')
('D9', 'Femee', '8')
('D11', 'Mothi', '11')

In [10]:
#Get the doctors with no patients visit
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Doctors where Patients_Visited=0")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('D3', 'Thana', '0')
('D7', 'Karthi', '0')
('D10', 'Rosy', '0')
('D12', 'Siva', '0')