In [1]:
#Create a connection for DB and print the version using  python program
import mysql.connector

In [2]:
mydb=mysql.connector.connect(host="localhost",user="root",password="12345")

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023CE5CC9AF0>

In [4]:
import sys
cur=mydb.cursor()
cur.execute("SELECT VERSION()")
data=cur.fetchone()
print("DBMS Version: ",str(data))

DBMS Version:  ('8.0.25',)

In [5]:
#Create a multiple tables and insert data in table
dbse=mydb.cursor()
dbse.execute("CREATE DATABASE mydatabase")

In [6]:
dbse=mydb.cursor()
dbse.execute("SHOW DATABASES")
for entry in dbse:
    print(entry)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="mydatabase")
dbse=mydb.cursor()
dbse.execute("CREATE TABLE Employees(Employee_name VARCHAR(255),Employee_dep VARCHAR(255),Employee_id VARCHAR(255))")

In [8]:
dbse=mydb.cursor()
dbse.execute("SHOW TABLES")
for value in dbse:
    print(value)

('employees',)

In [9]:
dbse=mydb.cursor()
dbse.execute("CREATE TABLE Office(Emp_name VARCHAR(255),Emp_id VARCHAR(255),Emp_address VARCHAR(255))")

In [10]:
dbse=mydb.cursor()
dbse.execute("CREATE TABLE Student(Stu_name VARCHAR(255),Rollno INT(20),Mark INT(5))")

In [11]:
dbse=mydb.cursor()
dbse.execute("SHOW TABLES")
for value in dbse:
    print(value)

('employees',)
('office',)
('student',)

In [14]:
#Create a employee table and read all the employee name in the table using for loop
mydb=mysql.connector.connect(host="localhost",user="root",password="12345",database="mydatabase")
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Employee1(ID INT AUTO_INCREMENT PRIMARY KEY,Name VARCHAR(255),Address VARCHAR(255))")

In [15]:
mycursor=mydb.cursor()
sql="INSERT INTO Employee1(ID,Name,Address) VALUES(%s,%s,%s)"
val=("123","Priya","Nagercoil")
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record Inserted")

1 Record Inserted

In [16]:
mycursor=mydb.cursor()
sql="INSERT INTO Employee1(ID,Name,Address) VALUES(%s,%s,%s)"
val=("234","Padma","Chennai")
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record Inserted")

1 Record Inserted

In [21]:
mycursor=mydb.cursor()
sql="INSERT INTO Employee1(ID,Name,Address) VALUES(%s,%s,%s)"
val=[('345','Mesh','Trichy'),('236','Raji','Coimbatore'),('590','Thana','Salem'),('490','Sudha','Kerala')]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"Records Inserted")

4 Records Inserted

In [22]:
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Employee1")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(123, 'Priya', 'Nagercoil')
(234, 'Padma', 'Chennai')
(236, 'Raji', 'Coimbatore')
(345, 'Mesh', 'Trichy')
(490, 'Sudha', 'Kerala')
(590, 'Thana', 'Salem')

In [23]:
mycursor=mydb.cursor()
mycursor.execute("SELECT Name FROM Employee1")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('Priya',)
('Padma',)
('Raji',)
('Mesh',)
('Sudha',)
('Thana',)